* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

hr {
    /* border: none; */
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 2px;
    background-size: 40px 40px;
    background-color: #CE97CE;
}

#hr-break {
    margin-top: 85px;
}

h1 {
    font-size: 60px;
    font-weight: lighter;
}
h2 {
    font-size: 40px;
    font-weight: lighter;
}

#small-card-icon {
    height: 50px;
    width: 50px;
    margin: 10px;
    fill: none;
    stroke: #ce97ce;
}

#card-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
}

:root {
    --main-radius:2%;
    --main-padding:5px;
}

#accordion {
    margin: 20px;
}

.card {
    border-radius: 10px;
}

#header {
    color: #ce97ce;
    font-weight: 800;
}

#accordion-symbol {
    height: auto;
    width: 30px;
}

#classes-info {
    display: grid;
    grid-template-columns: 50% 50%;
}

#break1, #break2, #break3, #break4 {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
}

#break1 {
    grid-area: break1;
}

#break2 {
    grid-area: break2;
    margin-top: 50px;
    margin-bottom: 50px;
}

#break3 {
    margin-top: 10px;
    grid-area: break3;
}

#break4 {
    grid-area: break4;
}

#content2{
    background: #ffffff;
    grid-area: content2;
    padding: 50px 50px;
    /* display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr; */
    
}

.main-layout{
    width:100%;
    padding: 0;
    margin: 0;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-areas:
    "nav nav nav"
    "main main main"
    "side1 content1 side2"
    "side1 intro-cards side2"
    "side1 welcome-msg side2"
    "carousel carousel carousel"
    "side3 break1 side4"
    "side3 content2 side4"
    "side3 break2 side4"
    "wide-image wide-image wide-image"
    "side5 break3 side6"
    "footer footer footer"
    ;
}

.info-layout{
    display:grid;
    width:100%;
    padding: 0;
    margin: 0;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-areas:
    "nav nav nav"
    "main main main"
    "intro-head intro-head intro-head"
    "side1 intro-text side2"
    "intro-head-2 intro-head-2 intro-head-2"
    'side3 intro-text-2 side4'
    'intro-head-3 intro-head-3 intro-head-3'
    'side5 info-3-cont side6'
    "footer footer footer"
    ;
}

#intro-layout {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 100%;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-area: intro-layout;
    grid-template-areas:
        'intro-head intro-head intro-head' 
        'side3 intro-image side4'
        'side3 intro-text side4'
        'intro-head-2 intro-head-2 intro-head-2'
        /* 'side5 intro-image-2 side6' */
        'side5 intro-text-2 side6'
        'intro-head-3 intro-head-3 intro-head-3'
        'info-3-cont info-3-cont info-3-cont'
        ;
}

#info-3-content {
    display: grid;
    grid-area: info-3-cont;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:
    'intro-image-3 intro-text-3'
    ;
}

.class-layout {
    display: grid;
    /* height: 100vh; */
    padding: 0;
    margin: 0;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    /* grid-template-rows: 0.2fr 1.5fr 1.2fr 1.2fr 1.2fr 0.8fr; */
    grid-template-areas:
    "nav nav nav"
    "main main main"
    "side1 content1 side2"
    "classes-cards classes-cards classes-cards"
    "footer footer footer"
    ;
}

#classes-cards{
    margin-left: auto;
    margin-right: auto;
    grid-area: classes-cards;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "group-banner group-banner group-banner"
    "group-photo group-info group-info"
    "private-banner private-banner private-banner"
    "private-info private-info private-photo"
    ;

}

#group-banner {grid-area: group-banner;} #group-photo {grid-area: group-photo;} #group-info {grid-area: group-info;}
#private-banner {grid-area: private-banner;} #private-photo {grid-area: private-photo;} #private-info {grid-area: private-info;}

#group-banner, #private-banner{
    background-color: #AC66AC;
    color: white;
    text-align: center;
}

#group-info, #private-info {
    padding: 40px;
}

#group-photo {
    /* grid-area: group-photo; */
    background-image: url(peaceclass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#private-photo {
    background-image: url(classlap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}


#offers-title {
    grid-area: offers-title;
}

#classes-offers {
    margin-left: auto;
    margin-right: auto;
    grid-area: classes-offers;
    width: 100%;
}

#classes-cards{
    margin-left: auto;
    margin-right: auto;
    grid-area: classes-cards;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "group-banner group-banner group-banner"
    "group-photo group-info group-info"
    "private-banner private-banner private-banner"
    "private-info private-info private-photo"
    ;

}



#intro-head{grid-area: intro-head;} #intro-head-2{grid-area: intro-head-2;} #intro-head-3{grid-area: intro-head-3;}
#intro-image{grid-area: intro-image;} #intro-image-2 {grid-area: intro-image-2;} #intro-image-3{grid-area: intro-image-3;}
#intro-text {grid-area: intro-text;} #intro-text-2 {grid-area: intro-text-2;} #intro-text-3{grid-area: intro-text-3;}

#intro-head, #intro-head-2, #intro-head-3{
    background-color: #AC66AC;
    color: white;
    text-align: center;
}

#intro-image-2 {
    background-image: url(Magali_small.png);
}

#intro-image {
    background-image: url(christinepose.jpg);
}

#intro-image-3 {
    background-image: url(chris_portrait.png);
}

#intro-image, #intro-image-2, #intro-image-3 {
    height: 500px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}

#intro-image-3 {
    height: 100%;
    width: 100%;
}

#intro-text, #intro-text-2, #intro-text-3 {
    padding: 50px;
    margin-top: auto; 
    margin-bottom: auto;
}

/* #intro-text-3 {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:
    'prof-img info-text'
} */

#intro-text-2 {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 0px 0px;
    grid-template-areas:
      "inf-im-1 inf-te-1 inf-te-1"
      "inf-te-2 inf-te-2 inf-im-2"
      "inf-im-3 inf-te-3 inf-te-3";
  }
  
  #inf-im-1 { grid-area: inf-im-1; }
  
  #inf-te-1 { grid-area: inf-te-1; }
  
  #inf-im-2 { grid-area: inf-im-2; }
  
  #inf-te-2 { grid-area: inf-te-2; }
  
  #inf-im-3 { grid-area: inf-im-3; }
  
  #inf-te-3 { grid-area: inf-te-3; }

  #inf-im-1, #inf-im-2, #inf-im-3 {
      margin-left: auto;
      margin-right: auto;
  }
  


#info-card {
    margin-left: auto; 
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "group-select private-select"
        "class-image class-info"
        ;
}

#offer-1-head {grid-area: offer-1;} #offer-2-head {grid-area: offer-2;}
#offer-3-head {grid-area: offer-3;} #offer-4-head {grid-area: offer-4;}

#offer-image {grid-area: offer-image;} #offer-info {grid-area: offer-info;}

#group-select, #private-select, 
#offer1-select, #offer2-select, #offer3-select, #offer4-select {
    text-align: center;
    margin: auto;
    height: 50px;
    width: 100%;
    transition: 0.3s;
    border-radius: 4px;
    color: #CE97CE;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

#group-select:hover, #group-select:active, #private-select:hover, #private-select:active 
#offer1-select:hover, #offer1-select:active, #offer2-select:hover, #offer2-select:active,
#offer3-select:hover, #offer3-select:active, #offer4-select:hover, #offer4-select:active{
    background-color: #c981c9;
    color: #ffffff !important;
}

#group-select {
    grid-area: group-select;
}

#private-select {
    grid-area: private-select;
    /* display: flexbox; */
}

#offer1-select {
    grid-area: offer-1;
}

#offer2-select {
    grid-area: offer-2;
}

#offer3-select {
    grid-area: offer-3;
}

#offer4-select {
    grid-area: offer-4;
}

#class-image {
    grid-area: class-image;
    /* margin-left: auto;
    margin-right: auto; */
}

#class-info {
    padding: 20px;
    grid-area: class-info;
}

#classes-image-1, #classes-image-2 {
    height: 90vh;
    grid-area: wide-image;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-primary {
    background-color: #AC66AC;
    outline: none;
    border-width: 0px;
}

.navbar {
    grid-area: nav;
    position: fixed;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    color: white;
    align-items: center;
    background: #AC66AC;
    gap: 0.5rem;
    z-index: 100;
    width: 100%;
    text-align: center;
    top: 0;
    transition: top 0.3s;
    font-size: 1.8rem;
    padding: 0px;
}

#nav-lang {
    justify-self: end;
    margin-right: 20px;
}

#lang-esp, #lang-fra {
    background-size: cover;
    height: 40px;
    width: 62px;
}

#lang-esp {
    background-image: url('Flag_of_Spain.svg');
}

#lang-fra {
    background-image: url('Flag_of_France.svg');
}

.offer-layout {
    display: grid;
    /* height: 100vh; */
    padding: 0;
    margin: 0;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    /* grid-template-rows: 0.2fr 1.5fr 1.2fr 1.2fr 1.2fr 0.8fr; */
    grid-template-areas:
    "nav nav nav"
    "main main main"
    "side1 content1 side2"
    "offers offers offers"
    "footer footer footer"
    ;
}

.offer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: offers;
    grid-template-areas: 
    "offerbanner1 offerbanner1 offerbanner1"
    "offertext1 offertext1 offerimage1"
    "offerbanner2 offerbanner2 offerbanner2"
    "offerimage2 offertext2 offertext2"
    "offerbanner3 offerbanner3 offerbanner3"
    "offertext3 offertext3 offerimage3"
    "offerbanner4 offerbanner4 offerbanner4"
    "offerimage4 offertext4 offertext4"
    ;
}

#offerimage1, #offerimage2, #offerimage3, #offerimage4 {
    height: 100%;
}

.colah-nav {
    color: #ffffff !important;
    /* text-shadow: 0.5px 0.5px 3px #1f1f1f; */
    font-weight: 700;
    background-color: #AC66AC;
    /* padding: 10px; */
    transition: 0.3s;
}

.colah-nav:hover{
    background-color: #c981c9;
}

.nav-active {
    background-color: #c981c9;
}

a, .navbar-brand, .nav-item, .nav-link, .navbar-toggler, .navbar-toggler-icon {
    color: #ffffff !important;
}

.nav-item, .navbar-nav {
    width: 100%;
}

.navbar-toggler, .navbar-toggler-icon {
    border-color: #ffffff !important;
}

#small-nav-text {
    font-size: 10px;
    margin: 0px;
}

.nav-link {
    width: 100%;
    padding: 0px;
}

#navbarNavDropdown, .navbar-nav, .nav-item, .nav-link{
    height: 60px;
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }

@media only screen and (max-width: 900px){

    #navcollapse {
        margin: 10px auto;
    }

    .nav-item {
        margin-right: auto;
        margin-left: auto;
    }

    .nav-link, .nav-item {
        width: 100%;
    }

    .main-layout{
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
        /* grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr; */
        grid-template-areas: 
        "nav"
        "main"
        "content1"
        "intro-cards"
        "welcome-msg"
        "carousel"
        "break1"
        "content2"
        "break2"
        "wide-image"
        "break3"
        /* "content3" */
        "footer";
    }

    .offer-layout {
        grid-template-columns:1fr;
        grid-template-areas:
        "nav"
        "main"
        "content1"
        "offers"
        "footer"
        ;
    }

    .offer-content {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "offerbanner1"
        "offerimage1"
        "offertext1"
        "offerbanner2"
        "offerimage2"
        "offertext2"
        "offerbanner3"
        "offerimage3"
        "offertext3"
        "offerbanner4"
        "offerimage4"
        "offertext4"
        ;
    }
    #offerimage1, #offerimage2, #offerimage3, #offerimage4 {
        height: 50vh;
        }

    #classes-image-1, #classes-image-2 {
        height: 30vh;
    }

    #side1, #side2, #side3, #side4, #side5, #side6, #side7, #side8 {
        display:none;
    }

    #content2{
        padding: 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "image1"
        "text1"
        "image2"
        "text2"
        "image3"
        "text3"
        ;
    }

    #classes-info {
        grid-template-columns: 100%;
    }

    #intro-image {
        height: 200px;
        overflow-y: hidden;
        object-fit: cover;
    }

    #info-card {
        grid-template-columns: 1fr;
            grid-template-areas:
            "group-select"
            "private-select"
            "class-image"
            "class-info"
            ;
    }
}

#program-info {
    margin-left: 30px;
}

#program-points {
    margin-left: 50px;
}

#price {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#offertext1, #offertext2, #offertext3, #offertext4 {
    padding: 40px;
}

#offertext1, #offertext3 {
    background-color: #D9CBEA;
    color: #212529;
}

#offerbanner1, #offerbanner2, #offerbanner3, #offerbanner4 {
    background-color: #AC66AC;
    color: white;
    text-align: center;
}

#offerbanner1{grid-area: offerbanner1;} #offerbanner2{grid-area: offerbanner2;}
#offerbanner3{grid-area: offerbanner3;} #offerbanner4{grid-area: offerbanner4;}

#offerimage1 {
    grid-area: offerimage1;
    background-image: url(insomnia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
} 
#offerimage2 {
    grid-area: offerimage2;
    background-image: url(anxiety.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#offerimage3 {
    grid-area: offerimage3;
    background-image: url(handstand2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 
#offerimage4 {
    grid-area: offerimage4;
    background-image: url(yoga_dog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#offertext1 {
    grid-area: offertext1;
} 
#offertext2 {
    grid-area: offertext2;
}
#offertext3 {
    grid-area: offertext3;
} 
#offertext4 {
    grid-area: offertext4;
}

#carousel_info {
    width:100%;
}

#carousel_item_info {
    position: relative;
    height:90vh;
}

.carousel-item img {
    position: absolute;
    top:-100%; 
    left:0; 
    right: 0;
    bottom:-100%;
    margin: auto;
    filter: contrast(60%);
}

#wide-image {
    height: 70vh;
    grid-area: wide-image;
    background-image: url("yogapeople.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}

#caro-text {
    color: #ffffff;
    text-align: left;
}

#caro-text-single {
    color: #ffffff;
    position: absolute;
    bottom: 8px;
    left: 16px;
    padding: 60px;
}

#colah, #main-text, .headline {
    color: #ffffff;
    text-shadow: 2px 2px 3px #1a1a1a;
}

#main-text {
    text-align: center;
    margin-top:100px;
    padding: 5px;
    font-weight: 700;
}

a:hover {
    text-decoration:none;
 }

main {
    grid-area: main;
    height: 90vh;
    display: float;
}

.bg, .bg-info, .bg-class, .bg-offer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    text-align: center;
    padding:20px;
}

.bg {
    background-image: url("chris_wide_edit.jpg");
  }

.bg-info {
    background-image: url("Katia\ 1.png");
}

.bg-class {
    background-image: url("yoga_group1.jpg");
}

.bg-offer {
    background-image: url("pexels-photo-3772612.jpeg");
}

.headline {
    margin-top: 90px;
    font-size: 60px;
    color: white;
    z-index: 3;
}

#sidebar {
    background: #a7edff;
    grid-area: sidebar;
}

#content-info-head{
    padding: 20px;
    background: #ffffff;
    grid-area: content-info-head;
    min-height: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#content1{
    padding: 20px;
    background: #ffffff;
    grid-area: content1;
    min-height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

#intro-cards{
    grid-area: intro-cards;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* grid-auto-rows: 650px; */
    gap: 1rem;
    justify-items: center;
    margin-bottom: 100px;
}

#welcome-message, #testimonies {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#welcome-message {
    grid-area: welcome-msg;
}

#card, #info-card, #offers-card, #test-card {
    width: 90%;
    min-width: 250px;
    border-radius: 16px;
    background: #ffffff;
    color: #3b3b3b;
    box-shadow: 0.6rem 1rem 2rem #3d3d3d8f;
}

#testo-card {
    /* border-radius: 16px; */
    background: #ffffff;
    color: #3b3b3b;
    box-shadow: 0.6rem 1rem 2rem #3d3d3d8f;
}

#card {
    padding: 25px 35px;
    height: 200px;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
}

#info-card, #offers-card {
    display: grid;
    margin-bottom: 50px;
}

#test-card {
    align-items: center;
    text-align: center;
    padding: 20px;
}

#test-card-bottom {
    align-self: flex-end;
}

section {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    background: #ffffff;
    color: #3b3b3b;
    box-shadow: 0.6rem 1rem 2rem #6b6b6b8f;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#card-offer-1, #card-offer-2, #card-offer-3, #card-offer-4{
    height: 225px;
    width: 200px;
    transition: 0.3s;
}

#card-offer-1:hover, #card-offer-2:hover, #card-offer-3:hover, #card-offer-4:hover{
    background-color: #AC66AC;
    color: white;
}

#offer-highlighted-0, #offer-highlighted-1, #offer-highlighted-2, #offer-highlighted-3,
#offer-default-0:hover, #offer-default-1:hover, 
#offer-default-2:hover, #offer-default-3:hover {
    background-color: #AC66AC;
    color: white;
    transition: 0.3s;
}

#offer-default-0, #offer-default-1, #offer-default-2, #offer-default-3 {
    background: #ffffff;
    color: #3b3b3b;
    transition: 0.3s;
}

#headingOne, #headingTwo, #headingThree, #headingFour {
    transition: 0.3s;
}

#card-offer-info{
    grid-area: card-offer-info;
    width: 100%;
    margin-bottom: 100px;
}

#card-small{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    background: #ffffff;
    color: #3b3b3b;
    box-shadow: 0.6rem 1rem 2rem #6b6b6b8f;

    align-items: center;
    text-align: center;
}

.profile-icon-symbol-1, .profile-icon-symbol-2, .profile-icon-symbol-3 {
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 10px;
    fill: none;
    stroke: #ce97ce;
    margin: auto;
}

.profile-icon-symbol-1 {
    grid-area: image1;
}

.profile-icon-symbol-2 {
    grid-area: image2;
}

.profile-icon-symbol-3{
    grid-area: image3;
}

.profile-icon-symbol-container {
    vertical-align: middle;
    text-align: center;
}

.profile-info-text-1, .profile-info-text-2, .profile-info-text-3 {
    text-align: left;
}

.profile-info-text-1 {
    grid-area: text1;
}

.profile-info-text-2 {
    grid-area: text2;
}

.profile-info-text-3 {
    grid-area: text3;
}

#content3{
    grid-area: content3;
}

#carousel{
    grid-area: carousel;
}

#side1, #side3, #side5, #side7 {
    background: #E8C7E8;
    background: linear-gradient(90deg, #E8C7E8 0%, rgba(255,255,255,1) 40%);
}

#side2, #side4, #side6, #side8 {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 60%, #E8C7E8 100%);
}

#side1{
    grid-area: side1;
}
#side2{
    grid-area: side2;
}
#side3{
    grid-area: side3;
}
#side4{
    grid-area: side4;
}
#side5{
    grid-area: side5;
}
#side6{
    grid-area: side6;
}

#side7{
    grid-area: side7;
}

#side8 {
    grid-area: side8;
}

#card-icon{
    height: 70px;
    width: auto;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
}

#card-icon-large{
    height: 100px;
    width: auto;
    margin: 50px;
    margin: auto;
}

footer{
    background: #AC66AC;
    grid-area: footer;
    min-height: 10vh;
}